.nav-bar {
  padding: 5px 90px;
  /* display: flex;
  justify-content: space-between; */
}

.logo img {
  width: 35px;
  height: 35px;
}
.nav-bar-container hr {
  margin: 0;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo p {
  padding-top: 15px;
  color: #383838;
  font-size: 18px;
  font-weight: 700;
}
.cart,
.logo {
  text-decoration: none;
  color: #000;
}
.cart-nav,
.nav-links-container {
  /* display: flex; */
  /* text-align: center; */
  column-gap: 20px;
  font-size: 1.2rem;
  font-weight: 500;
}
.nav-links-container .nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  text-decoration: none;
  color: #626262;
}
.nav-links-container .active {
  color: #ff4141;
}
.login {
  text-decoration: none;
  color: #626262;
  border: 1px solid #7a7a7a;
  font-size: 0.9rem;
  padding: 4px 15px;
  border-radius: 25px;
  padding-top: 5px;
}
.login:active {
  background: #f3f3f3;
}

.cart-icon {
  width: 25px;
  cursor: pointer;
  margin-right: -23px;
}
.cart {
  display: flex;
}
.cart .nav-links-count {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  text-decoration: none;
  font-size: 12px;
}
