.nav-bar {
  padding: 20px 90px;
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  gap: 10px;
}
.logo p {
  padding-top: 5px;
  color: #383838;
  font-size: 17px;
  font-weight: 700;
}
.cart,
.logo {
  text-decoration: none;
  color: #000;
}
.cart-nav,
.nav-links-container {
  display: flex;
  column-gap: 30px;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}
.nav-links-container .nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  text-decoration: none;
  color: #626262;
}
.nav-links-container hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background: #ff4141;
}
.login {
  text-decoration: none;
  color: #626262;
  border: 1px solid #7a7a7a;
  font-size: 0.9rem;
  padding: 4px 15px;
  border-radius: 25px;
  padding-top: 5px;
}
.login:active {
  background: #f3f3f3;
}

.cart-icon {
  width: 25px;
  cursor: pointer;
  margin-right: -23px;
}
.cart {
  display: flex;
}
.cart .nav-links-count {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  text-decoration: none;
  font-size: 12px;
}
.logo img {
  width: 30px;
}
