.related-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 90vh;
}

.related-product h1 {
  color: #171717;
  font-size: 27px;
  font-weight: 600;
}
.related-product hr {
  width: 120px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
}
.related-products-items {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}
